/node_modules
/package-lock.json
/public/css
/public/hot
/public/js
/public/storage
/storage/*.key
/vendor
/temp.js
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
.phpunit.result.cache
_ide_helper.php
/.project
src/views/components/common/temp.js
/build/
package-lock.json
src/views/customComponents/*
!src/views/customComponents/README.md
/src/config/moduleConfig.js
/public/assets/fontawesome-free/
