.viewToggleButtons{
    gap: 11px;
    label{
        cursor: pointer;
        margin-bottom: 0;
        svg{
            rect{
              fill: #c3cbd9;
            }
        }
    }

    input{
     &:checked{
         ~label{
            svg{
                rect{
                  fill: #52ab1e;
                }
            }
         }
     }
    }
}