.remotetop-bar {
    @media screen and (max-width:767px){
        margin-top: 2rem;
    }
    >div {
        @media screen and (max-width:767px){
            flex: 1;
        }
        &:first-of-type {
            @media (min-width: 768px) {
                button {
                    position: absolute;
                    right: -100%;
                    margin-right: 170px;
                }
            }
        }
    }
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  
  .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
  }